@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 224 71.4% 4.1%;
    --card: 60 56% 91%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 60 56% 93%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 93 26% 68%;
    --primary-foreground: 93 25% 15%;
    --secondary: 60 20% 85%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 60 20% 88%;
    --muted-foreground: 225 8.9% 45.1%;
    --accent: 205 100% 85%;
    --accent-foreground: 205 100% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 83%;
    --ring: 93 26% 68%;
    --chart-1: 93 30% 50%;
    --chart-2: 205 70% 60%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 60 30% 86%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-primary: 93 26% 68%;
    --sidebar-primary-foreground: 93 25% 15%;
    --sidebar-accent: 93 26% 75%;
    --sidebar-accent-foreground: 93 25% 15%;
    --sidebar-border: 60 20% 78%;
    --sidebar-ring: 93 26% 68%;
  }

  .dark {
    --background: 224 20% 12%;
    --foreground: 60 9.1% 97.8%;
    --card: 224 20% 12%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 224 20% 10%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 93 26% 68%;
    --primary-foreground: 93 25% 15%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 205 90% 75%;
    --accent-foreground: 205 90% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 93 26% 68%;
    --chart-1: 93 40% 60%;
    --chart-2: 205 70% 70%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 224 20% 10%;
    --sidebar-foreground: 60 9.1% 97.8%;
    --sidebar-primary: 93 26% 68%;
    --sidebar-primary-foreground: 93 25% 15%;
    --sidebar-accent: 215 27.9% 16.9%;
    --sidebar-accent-foreground: 60 9.1% 97.8%;
    --sidebar-border: 215 27.9% 16.9%;
    --sidebar-ring: 93 26% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
